.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  background-color: red;
  color: white;
}

.btn:hover {
  background-color: yellow;
  box-shadow: inset;
  color: black;
}

.upvoteBtn {
  background-color: transparent;
  border: none;
}

.upvoteBtn img {
  box-shadow: none;
  width: 30px;
  height: 60px;
}

.upvoteBtn img:hover {
  opacity: 0.7;
}
